@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {
    background-color:  $light-gray;
    font-family: 'Outfit', sans-serif;
}

.container {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    border: 15px solid $white;
    background-color: $white;
    border-radius: 20px;
    max-width: 350px;
}

.qrcode {
    width: 350px;
    border-radius: 20px;
}

.title {
    background-color: $white;
    word-wrap: normal;
    text-align: center;
    font-weight: 700;
    color: $dark-blue;
}

.subtitle {
    background-color: $white;
    text-align: center;
    font-weight: 400;
    color: $grayish-blue;
}

@media (max-width: 375px) {
    .content {
        max-width: 300px;
    }
    .qrcode {
        width: 300px;
    }
}